<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
          rel="stylesheet" />
</head>

<body>
    <!-- Sidebar inserted using jinja-->
    <div id="navbar">
        {% include 'HTMLsnippits/navbar.html' %}
    </div>

    <main>
        <h1>Cacus APP</h1>
        <p>
            So this toolbar lets you choose a theme, and is like looks cool. I made it optimized for phone apps as well, make 
            your window really small and you'll see the scroll bar goes to the bottom since phones have more length compared to width.
        </p>

    </main>
</body>